/*----- MAIN PAGE -----*/
* {
  font-family: 'Comfortaa', sans-serif;
  color: black ;
}

body {
  background-color: rgba(193, 226, 255, 0.8);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 60px;
}

hr {
  margin: 10px 0px;
}

.block {
  display: block;
  margin: auto;
  padding: 20px;
  width: min(70%, 500px);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(240, 128, 128, 0.3);
}

#landing-page {
  margin-top: 50px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 15px;
}

#landing-page .recipe {
  padding: auto;
  font-size: 1.5rem;
  list-style: none;
}

#landing-page li a {
  color: black;
  font-weight: 500;
}

a {
  color: rgb(175, 0, 0);
  text-decoration: none;
}

a:hover {
  color: blueviolet !important;
  text-decoration: underline;
}

#content .nav {
  margin: 30px;
  bottom: 0;
  text-align: center;
}

.nav a {
  padding: 20px;
}

/*----- RECIPE PAGE -----*/

#content h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  height:100px;
  margin-top: 20px;
}

#content h2 {
  margin: 5px;
  font-weight: bold;
}

#content h4 {
  margin: 5px;
  font-weight: bold;
}

#content img {
  display: block;
  margin:auto;
  margin-bottom: 45px;
}

#content {
  display:block;
  padding: 1rem;
  margin-top: 60px;
  margin-bottom: 60px;
  width: max(70%,400px);
  border: 2px solid rgb(128, 0, 0);
  text-align: left;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}